<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <a href="/"><img src="/logo.png" width=600 height=243></a>
    <br>
    <img src="<%= "/download_img/#{@two_shot}" %>" width=300 height=300>
    <h3><%= @photo.boy_name %>と<%= @photo.girl_name %>の相性は</h3>
    <h2><%= @love %>%</h2>
    <br>
    <%= @photo.two_shot %>
  </div>
</div>
