<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">LoveLoveDiagnosis</h1>
    <img src="<%= "/download_img/#{@two_shot}" %>" width=300 height=300>
    <h3><%= @photo.boy_name %>と<%= @photo.girl_name %>の相性は</h3>
    <h2><%= @love %>%</h2>
    <br>
    <%= @photo.two_shot %>
  </div>
</div>
